*, *::after, *::before{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ABB3;
    width: 30vw;
    height: 100vh;
    color: #FFF8EA;
}

.library{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    overflow: hidden;
    background-color: #FFF8EA;
    width: 70vw;
    height: 100vh;
}

.logo{
    font-size: 25px;
    padding: 10px;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: thin solid #815B5B;
    width: 200px;
    height: 250px;
    margin: 30px;
    background-color: #9E7676;
    box-shadow: 20px 10px #815B5B;
}
.bookInfo{
    margin: 3px;
    font-size: 20px;
}
.static{
    font-weight: 700;;
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: thin solid black;
    margin: 5px;
}
.cover > img{
    flex-shrink: 0;  
    min-height: 100%;
    min-width: 100%;
}
input[type=text],input[type=number]{
    text-align: center;
    padding: 15px;
    background-color: #FFF8EA;
    
}
input[type=text]:focus{
    outline: none;
    -webkit-appearance: none;  
}
button{
    font-size: 20px;
}
/* Removes arrow from Input Type Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}