*, *::after, *::before{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #665A48;
    width: 30vw;
    height: 100vh;
    color: #FFF8EA;
}

.library{
    background-color: #9F8772;
    width: 70vw;
    height: 100vh;
}

.logo{
    font-size: 25px;
    padding: 10px;
    align-items: center;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.card{

}
input{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    
}
input:focus{
    outline: none;
    -webkit-appearance: none;
    
}
button{
    font-size: 20px;
}
/* Removes arrow from Input Type Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}